/* Logo Styles */
body
{
  background-color:#F7F7F7;
  color:#21044D;
  font-family:"Avenir";
}

.logo 
{
  text-align: center;
  font-size: 25px;
  padding: 40px;
  font-family: "Krungthep";
}

#slogan 
  {
    text-align: center;
    font-size: 13px;
    font-family: "Avenir";
    font-style: medium;
  }

.nav
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  padding: 5px;
  font-size: 14px;
  font-family:"Avenir";
}
.nav a{
  padding: 20px;
  text-decoration: none;
  color: #21044D;
}

/* Header */
.headerBG 
{
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-color: #21044D;
  text-align: center;
  margin-top: -50px;
  padding: 35px;
}
.quote, .quote1
{
   color: white;
   text-align: center;
   font-size: 28px;
   margin-top: 0px;
   margin-left: 5px;
}
.quote1{
  margin-top: -55px;
}

.semi, .semi2
{
  color: goldenrod;
  font-family: "Lucida";
  font-size: 60px;  
}
.semi
{
  margin-left: -390px;
  margin-top: 30px;
}
.semi2
{
  margin-left: 410px;
  margin-top: -60px;
}
.author{
  color: goldenrod;
  font-size: 12px;
  margin-left: 300px;
  margin-top: -10px;

}
/* Casestudy 1*/
.card
{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 615px;
  width: 1600px;
  margin: 35px;
  margin-top: 70px;
  margin-left: 90px;

}
.role, .head, .head2, .under, .paragraph, .button
{
  margin-left: 90px;
}
.role
{
  margin-top: 80px;
}
.head
{
  margin-top: 3px;
  font-size: 44px; 
}
.head2
{
  margin-top: -23px;
  font-size: 23px; 
}
.under
{
  width: 84px;
  height: 3px;
  background-color: #21044D;
  margin-top: 15px;
}
.paragraph
{
  margin-top: 60px;
  font-size: 18px; 
  width: 460px;
}
 .image1
 {
  margin-left: 842px; 
  margin-top: -495px;
  width: 50%;
 
 }
.button
{
 border-width: 2px;
 border-color: rgb(39, 4, 92);
 border-style: solid;
 background-color: white;
 width: 241.85px;
 height: 50.25px;
 color: #21044D;
 font-size: 12px;
 margin-top: 20PX;
} 
.rectangle
{
  background-color:#E75B75;
  width:47.97px;
  height: 186.8200px;
  margin-left: 90px;
  margin-top: -570px;
} 

  .casestudy2{
    margin-top: 400px;
  }

  .role2, .head3, .head4, .under2, .paragraph2, .button2
  {
    margin-left: 990px;
    margin-top: -50px;
  }
  .role2
  {
    margin-top: 80px;
  }
  .head3
  {
    margin-top: 3px;
    font-size: 44px; 
  }
  .head4
  {
    margin-top: -23px;
    font-size: 23px; 
  }
  .under2
  {
    width: 84px;
    height: 3px;
    background-color: #21044D;
    margin-top: 15px;
  }
  .paragraph2
  {
    margin-top: 60px;
    font-size: 18px; 
    width: 460px;
  }
  .image2
  {
   justify-content: right;
   margin-top: -462.6px;
   margin-left: -41px;
   width: 50%;
  }
  .button2
{
 border-width: 2px;
 border-color: rgb(39, 4, 92);
 border-style: solid;
 background-color: white;
 width: 241.85px;
 height: 50.25px;
 color: #21044D;
 font-size: 12px;
 margin-top: -5PX;
} 
.rectangle2
{
background-color: #6165D7;
justify-content: left;
width:47.97px;
height: 186.8200px;
margin-left: 1643px;
margin-top: -570px;
}